<div class="jumbotron">
  <h1>Se connecter</h1>
  <form (ngSubmit)="onSubmit()" #inscriptionForm="ngForm">
    <div class="form-group">
      <label> Email </label>
      <input type="text" class="form-control" required [(ngModel)]="utilisateur['email']" name="email" placeholder="Email"/> 
    </div>

    <div class="form-group">
      <label> Mot de passe </label>
      <input type="password" class="form-control" required [(ngModel)]="utilisateur['password']" name="password" placeholder="Password"/>
    </div>

    <input type="submit" class="btn btn-primary" value="Se connecter" />
  </form>
  <p>{{message}}</p>
</div>
