<div class="jumbotron">
    <h1>Inscription</h1>   
    <form (ngSubmit)="onSubmit()" #InscriptionForm="ngForm">
    
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email"  name="email" [(ngModel)] = "email" required>
      </div>
    
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="pw" placeholder="Password" name="pw" [(ngModel)] = "pw" required>
      </div>

      <div class="form-group">
        <label>Nom</label>
        <input class="form-control" id="nom" placeholder="Nom" name="nom" [(ngModel)] = "nom" required>
      </div>
    
      <div class="form-group">
        <label>Prénom</label>
        <input class="form-control" id="pnom" placeholder="Prénom" name="pnom" [(ngModel)] = "pnom" required>
      </div>  
    
      <div class="form-group">
        <label>Gendre</label>
        <input class="form-control" id="gendre" placeholder="Gendre" name="gendre" [(ngModel)] = "gdr">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>{{message}}</p>
    </div>
    