<div class="jumbotron">
    <h1>Nos produits</h1>
    <div class="row justify-content-center">
        <div class="card-body">
            <div *ngFor="let produit of produits" class="card">
                <div class="card-text mx-auto text-center"> 
                    <p>{{produit['nom']}}</p> 
                    <p>{{produit['marque']}}</p> 
                    <p>${{produit['prix']}}</p> 
                    <div *ngIf="(user|async)">
                        <button class="btn btn-primary">Mais achetez donc !</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

