<nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand">
    <div class="container-fluid">
        <ul *ngIf="!(user|async)" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/categories">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="utilisateurs/connexion">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/utilisateurs/inscription">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/produits">Recherche</a>
            </li>
        </ul>
        <ul *ngIf="(user|async)" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/categories">Home</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/produits">Liste des produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" (click)="deconnexion()">Déconnexion de {{user|async}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/produits">Recherche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/panier">Panier</a>
                </li>
            </ul>
    </div>
</nav>
